
<ion-content *ngIf="allCharacters">
  <ion-list>
    <ion-list-header>
      Character list
      <br><br>
      If status is unknown, please contact the authorities of the last known location
    </ion-list-header>

    <ion-item *ngFor = "let character of allCharacters.results " (click) = "openModal(character)">
      <ion-avatar slot="start">
        <img [src]="character.image">
      </ion-avatar>
      <ion-label>
        <h2>{{ character.name }}</h2>
        <h3>Origin: {{ character.origin.name }}</h3>
        <h3>ID: {{character.id}}</h3>
        <p>Gender: {{ character.gender}}</p>
        <p>Status: {{ character.status}}</p>
        <p>Last seen on: {{character.location.name}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>